  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main Container */
.first-box{
    margin-left: 45px;
    margin-top: 100px;
    background-color: rgb(255, 252, 252);
    height: 550px;
    width: 360px;
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  margin-left: 30px;
  height: 100vh;
}

/* .profile-container:hover */
.profile-container {
  width: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 35px;
  transition: 1s all ease;
  background-color: white;
}

.profile-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(image/profile.jpg) no-repeat center center/cover;
  z-index: 1;
  opacity: 2;  
  transition: all .5s ease-in;
}

.profile-container:hover:before {
  opacity: 0;
  transition: all .5s ease;
}


/* Profile Card Wrapper */
.profile-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.profile-wrapper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f83f19 0%, black 100%);
  transform: skew(30deg) translateX(125%);
  opacity: 0.9;
  transition: all 0.6s ease;
}

.profile-wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f83f19 0%, black 100%);
  transform: skew(30deg) translateX(-125%);
  opacity: 0.9;
  transition: all 0.6s ease;
}

.profile-container:hover .profile-wrapper::after{
  transform: skew(30deg) translateX(125%);
  background: linear-gradient(to right, black 0%, #f83f19 100%);
  
}
.profile-container:hover .profile-wrapper::before{
  transform: skew(30deg) translateX(-125%);
  background: linear-gradient(to right, black 0%, #f83f19 100%);
}

/* Profile Card */
.profile-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 10px;
  position: relative;
  opacity: 0;
  transition: all 0.3s ease;
}

.profile-container:hover .profile-card {
  opacity: 1;
  transition: all 0.6s ease;
  transition-delay: 0.2s;
}

.profile-card .fav-icon {
  color: #f83f19;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 21px;
  cursor: pointer;
} 

/* Profile Picture */
.profile-card img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 0;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #f83f19, #f83f19);
  background-origin: border-box;
  background-clip: content-box, border-box;
  /* border: 2px solid #1999; */
  position: relative;
}

.profile-card  h2 {
  line-height: 1.2;
  color: #222;
}
.profile-card  h4 {
  line-height: 1.5;
  color: #444;
}

.profile-card  p {
  line-height: 1.2;
  color: #333;
  margin: 10px 0;
}

/* Profile Icons */
.profile-card .icons {
  display: flex;
  color: #333;
  width: 90%;
  justify-content: space-evenly;
  font-size: 1.4rem;
  margin: 5px 0;
}

.profile-card .icons i:hover {
  background-image: linear-gradient(to right, #bb47d4 0%, #2371ae 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/* Profile Button */
.profile-card a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 20px;
  margin-top: 1rem;
  background: #2371ae;
  border-radius: 50px;
  background: black;
}

.first-box-inf{
    margin-top: 25px;
    margin-left: 20px;
}

.mail,
.phone{
    display: flex;
    margin-top: 15px;
}

.mail .front,
.phone .front{
    margin-right: 15px;
    color: #f83f19;
}

/* iconuud */
/* From Uiverse.io by GigioBagigi0 */ 
.card {
    margin-top: 25px;
  display: flex;
  width: 370px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  padding-inline: 15px;
  position: relative;
  justify-content: space-around;
  margin-left: 39px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons {
  cursor: pointer;
  display: flex;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: small;
}

.social-icons > p {
  --var: -0%;
  position: absolute;
  top: var(--var);
  transition: all 0.7s;
  background-color: dodgerblue;
  border-radius: 7px;
  opacity: 0;
  padding-inline: 7px;
  padding-block: 3px;
  width: max-content;
}
.social-icons > p::after {
  content: "";
  position: absolute;
  border-top: 10px solid dodgerblue;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}
.social-icons > a {
  --var: -0%;
  position: absolute;
  bottom: var(--var);
  width: max-content;
  transition: all 0.7s;
  opacity: 0;
  padding-inline: 7px;
  padding-block: 3px;
  background-color: crimson;
  border-radius: 7px;
}
.social-icons > a::after {
  content: "";
  position: absolute;
  border-bottom: 10px solid crimson;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

.social-icons:hover > a,
.social-icons:hover > p {
  --var: -65%;
  opacity: 1;
}

.social-icons:hover {
  z-index: 15;
}

.card:hover > .social-icons:not(:hover) {
  filter: blur(3px);
  transform: scale(0.8);
}

.card svg {
  height: 30px;
}

/* second box */
.second-box{
    position: absolute;
    margin-top: -625px;
    margin-left: 450px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 500px;
    padding: 30px;
    border-radius: 5px;
}
.second-box .inf{
    margin-top: 60px;
}

.second-box .one{
    margin-top: 25px;
    display: flex;
    justify-content: space-between; 
}

.second-box .one .answer{
    font-weight: 600;
}