@charset "UTF-8";
body{
	background-image: url(https://wallpaperaccess.com/full/1314309.jpg);
}

h1{
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 30px;
	margin-left: 50px;
	margin-top: 30px;
	cursor: pointer;
}

h1:hover{
	color: aqua;
}
.nuur{
	background-color: transparent;
	padding-left: 100px;
}

.nav-links {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 1100px;
  list-style: none;
  display: flex;
  gap: 2rem;
  cursor: pointer;
 }
 
 .nav-links li a {
	font-size: 20px;
   text-decoration: none;
   color: white;;
 }

 .nav-links li a:hover {
   color: aqua;
 }
 
 .tom-sav {
   width: 90vw;
   height: 80vh;
   margin-left: 18px;
   margin-top: 50px;
   background-color: transparent;
   border: 3px solid white;
   border-radius: 20px;
   padding: 40px;
   display: flex;
 }
 
 .slider {
	margin-top: 50px;
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
 }

 .slide-track {
   display: inline-block;
   animation: scroll 30s linear infinite;
 }

 .slide-track img {
	background-color: transparent;
   border-radius: 0;
   width: 250px;
   height: 250px;
   margin-right: 30px;
   margin-top: 5px;
 }

 @keyframes scroll {
   100% { transform: translateX(0); }
   100% { transform: translateX(-50%); }
 }
 
 .ug1{
	font-size: 24px;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: inline-block;
	text-align: center;
	padding: 15px;
	margin-left: 330px;
 }
 
 .jijig-sav {
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 200px;
   height: 265px;
   margin: 10px;
   background-color: black;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 10px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   text-align: center;
 }
 
 .jijig-sav:hover{
	background-color: lightgrey;
 }
 
 .dund-sav{
	display: grid;
    grid-template-columns: repeat(6, 1fr);
 }
 
 .zurag{
	width: 100%;
	max-width: 200px;
	height: 220px;
	display: block;
	margin: 0 auto;
	border-radius: 40px;
 }
 
 .comment {
   font-size: 18px;
   color:white;
 }
 
 .comment:hover{
	color: black;
 }
 
 h2{
	font-size: 40px;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-left: 550px;
 }
 
 .tailbar-zurag{
	margin-top: 40px;
 }
 
 .tailbar-zurag2{
	display: flex;
 }
 
 .zurag-0{
	height: 800px;
	width: 800px;
 }
 
 .zurag-1{
	margin-left: 50px;
	margin-top: 250px;
	height: 600px;
	width: 600px;
 }
 
 .zurag-2{
	margin-top: 0px;
	height: 1000px;
	width: 1400px;
	margin-left: 100px;
 }
 
 .zurag-4{
	height: 800px;
	width: 800px;
	margin-left: 40px;
	margin-top: 300px;
 }
 
 .zurag-5{
	height: 800px;
	width: 800px;
	margin-top: 300px;
 }
 
 .zurag-6{
	margin-left: 0px;
	margin-top: 350px;
	height: 1000px;
	width: 1000px;
 }
 
 .zurag-7{
	height: 800px;
	width: 800px;
	margin-top: 250px;
 }
 
 .zurag-8{
	height: 800px;
	width: 800px;
	margin-top: 250px;
	margin-left: 700px;
 }
 
 .zurag-9{
	margin-top: 300px;
 }
 
 .comment2{
	color: orange;
	margin-top: 90px;
	margin-left: 50px;
	font-size: 40px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .comment3{
	margin-top: 200px;
	margin-left: 50px;
	color: lightgrey;
	font-size: 40px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .comment4{
	margin-left: 200px;
	margin-top: 200px;
	font-size: 40px;
	color: skyblue;
	display: inline-block;
	text-align: center;
	
 }

 .comment5{
 color: sandybrown;
 margin-top: 90px;
 margin-left: 0px;
 font-size: 35px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .comment6{
	margin-left: 40px;
 margin-top: 300px;
 color: rosybrown;
 font-size: 40px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .comment7{
	color: white;
	margin-left: 30px;
	margin-top: 300px;
 font-size: 40px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .comment8{
	margin-left: 60px;
	margin-top: 300px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 40px;
	color: orangered;
 }